extends ../layout.pug

block content
  main.container(role='main')
  h1 My Blog 
  p.lead Some info 
  p 
    | Create a
    a(href='/new-post') new post 
    br
    | Go to 
    a(href="/posts") all posts 